<extend name="Public/base" />

<block name="body">

	<form class="form-horizontal" action="{:U(Xiangmu/company_bianji)}" method="post">
		<volist name="res" id="res">
		<div class="form-item">
			<label class="item-label">单位id</label>
			<div class="controls">
				<input class="text input-large" type="text" name="id" value="{$res['id']}"  readonly />
			</div>

		</div>

		<div class="form-item">
			<label class="item-label">单位名称</label>
			<div class="controls">
				<input class="text input-large" type="text" name="name" value="{$res['name']}"/>
			</div>

		</div>
		<div class="form-item">
			<label class="item-label">管理员账户</label>
			<div class="controls">
				<input class="text input-large" type="text" name="user_uid" value="{$res['user_uid']}"  />
			</div>

		</div>
		</volist>

		<input type="submit" name="save" value="保存" />
		<a href="{:U('Xiangmu/company')}">取消</a>
	</form>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
		//搜索功能
		$("#search").click(function() {
			var url = $(this).attr('url');
			var query = $('.search-form').find('input').serialize();
			query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
			query = query.replace(/^&/g, '');
			if (url.indexOf('?') > 0) {
				url += '&' + query;
			} else {
				url += '?' + query;
			}
			window.location.href = url;
		});
		//回车搜索
		$(".search-input").keyup(function(e) {
			if (e.keyCode === 13) {
				$("#search").click();
				return false;
			}
		});
		//导航高亮

	</script>
</block>
