<extend name="Public/base" />

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>用户列表</h2>
    </div><a class="btn" href="{:U('Xiangmu/company_member_xinjian',array('uid'=>$need['uid']))}">新增下属</a>
    <div class="cf">
        <div class="fl">

        </div>

        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft">

            </div>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">UID</th>
                <th class="">账号</th>
                <th class="">单位</th>
                <th class="">积分</th>
                <th class="">登录次数</th>
                <th class="">注册时间</th>
                <th class="">最后登录时间</th>
                <th class="">操作</th>


            </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" /></td>
                        <td>{$vo.0.uid} </td>
                        <td>{$vo.0.nickname}</td>
                        <td>{$vo.0.work_place}</td>
                        <td>{$vo.0.score}</td>
                        <td>{$vo.0.login}</td>
                        <td>{$vo.0.first_time}</td>
                        <td><span>{$vo.0.last_login_time|time_format}</span></td>

                        <td>
                            <a href="{:U('Xiangmu/company_chakan_delete',array('uid'=>$vo['0']['uid']))}" >删除</a>

                        </td>

                    </tr>
                </volist>
                <else/>
                <td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

    <script type="text/javascript">
        //搜索功能
        $("#search").click(function(){
            var url = $(this).attr('url');
            var query  = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });
        //导航高亮

    </script>
</block>
