<extend name="Base/common" xmlns="http://www.w3.org/1999/html"/>

<block name="body">
	<form class="form-horizontal" action="{:U(Xiangmu/xinjian)}" method="post">
		<div class="add">
			<span>项目名称</span>
			<div class="controls">
				<input class="text input-large" type="text" name="name" value="{$_GET['name']}"  />
			</div>
		</div>


		<div class="add">
			<span>项目分类</span>
			<div class="controls">
				<select name="fenlei">
					分类：

					<volist name="fenlei" id="fenlei">

						<option value='{$fenlei['name']}'

						>{$fenlei.name}</option>
					</volist>
				</select>
			</div>

		</div>

		<div class="add">
			<span>项目位置</span>
			<div class="controls">
				<input class="text input-large" type="text" name="location" value="{$result_1['location']}"  />
			</div>
		</div>

		<div class="add">
			<span>项目单位</span>
			<div class="controls">
				<select name="company" class="select">


					<volist name="company" id="company">

						<option value='{$company['company']}'

						>{$company.company}</option>
					</volist>
					<option value="another" class="another">其他</option>
				</select>
			</div>

		</div>




<div class="add bianji1">
	<span></span>
	<input type="text" class="shuru" name="shuru" placeholder="请输入项目单位">
</div>

		<div class="add">
			<span>责任人</span>
			<div class="controls">
				<input class="text input-large" type="text" name="man" value="{$result_1['man']}" />
			</div>

		</div>

		<div class="add">
			<span>联系电话</span>
			<div class="controls">
				<input class="text input-large" type="text" name="phone" value="{$result_1['phone']}"  />
			</div>

		</div>
		<div class="add">
			<span>目前工作进展情况</span>
			<div class="controls">
				<input class="text input-large" type="text" name="work_progress" value="{$result_1['work_progress']}"  />
			</div>

		</div>


		<div class="add" style="height:150px;">
			<span>下一步打算：</span>
			<textarea name="next_plan">{$result_1['next_plan']}</textarea>
		</div>

		<div class="add" style="height:150px;">
			<span>存在问题：</span>
			<textarea name="problem">{$result_1['problem']}</textarea>
		</div>



		<div class="add">
		  <span>项目建设年度</span>
		  <div class="controls">
			<input class="text input-large" type="text" name="construction_year" value="{$result_1['construction_year']}" />
		  </div>

	    </div>
		<div class="add">
		  <span>建设内容</span>
		  <div class="controls">
			<input class="text input-large" type="text" name="construction_content" value="{$result_1['construction_content']}" />
		   </div>

		</div>
		<div class="add">
		    <span>本月周进度计划安排</span>
		    <div class="controls">
			  <input class="text input-large" type="text" name="current_week" value="{$result_1['current_week']}" />
		    </div>
		</div>
		<!--<div class="bianji">-->
		  <!--<span>立项手续完成时间及文号</span>-->
		  <!--<div class="controls">-->
			<!--<input class="text input-large" type="text" name="finish_time1" value="{$result_1['finish_time1']}" />-->
		  <!--</div>-->
		<!--</div>-->
		<!--<div class="bianji">-->
		<!--<span>可研手续完成时间及文号</span>-->
		<!--<div class="controls">-->
			<!--<input class="text input-large" type="text" name="finish_time2" value="{$result_1['finish_time2']}" />-->
		<!--</div>-->

	<!--</div>-->
		<!--<div class="bianji">-->
		<!--<span>初步设计手续完成时间及文号</span>-->
		<!--<div class="controls">-->
			<!--<input class="text input-large" type="text" name="finish_time3" value="{$result_1['finish_time3']}" />-->
		<!--</div>-->

	<!--</div>-->

		<!--<div class="bianji">-->
		<!--<span>水土保持手续完成时间及文号</span>-->
		<!--<div class="controls">-->
			<!--<input class="text input-large" type="text" name="finish_time4" value="{$result_1['finish_time4']}" />-->
		<!--</div>-->

	<!--</div>-->

		<!--<div class="bianji">-->
		<!--<span>土地手续完成时间及文号</span>-->
		<!--<div class="controls">-->
			<!--<input class="text input-large" type="text" name="finish_time5" value="{$result_1['finish_time5']}" />-->
		<!--</div>-->

	<!--</div>-->

		<!--<div class="bianji">-->
		<!--<span>规划手续完成时间及文号</span>-->
		<!--<div class="controls">-->
			<!--<input class="text input-large" type="text" name="finish_time6" value="{$result_1['finish_time6']}" />-->
		<!--</div>-->

	<!--</div>-->

		<!--<div class="bianji">-->
		<!--<span>环保手续完成时间及文号</span>-->
		<!--<div class="controls">-->
			<!--<input class="text input-large" type="text" name="finish_time7" value="{$result_1['finish_time7']}" />-->
		<!--</div>-->

	<!--</div>-->

		<!--<div class="bianji">-->
		<!--<span>施工图预算审核完成时间</span>-->
		<!--<div class="controls">-->
			<!--<input class="text input-large" type="text" name="finish_time8" value="{$result_1['finish_time8']}" />-->
		<!--</div>-->

	<!--</div>-->

		<!--<div class="bianji">-->
		<!--<span>完成设计招标时间</span>-->
		<!--<div class="controls">-->
			<!--<input class="text input-large" type="text" name="finish_time9" value="{$result_1['finish_time9']}" />-->
		<!--</div>-->

	<!--</div>-->

		<!--<div class="bianji">-->
		<!--<span>完成施工监理招标时间</span>-->
		<!--<div class="controls">-->
			<!--<input class="text input-large" type="text" name="finish_time10" value="{$result_1['finish_time10']}" />-->
		<!--</div>-->

	<!--</div>-->

		<!--<div class="bianji">-->
		<!--<span>建设周期</span>-->
		<!--<div class="controls">-->
			<!--<input class="text input-large" type="text" name="finish_time11" value="{$result_1['finish_time11']}" />-->
		<!--</div>-->

	<!--</div>-->

		<div class="add">
		<span>2016年6月计划安排</span>
		<div class="controls">
			<input class="text input-large" type="text" name="plan_01" value="{$result_1['plan_01']}" />
		</div>

	</div>

		<div class="add">
		<span>2016年7月计划安排</span>
		<div class="controls">
			<input class="text input-large" type="text" name="plan_02" value="{$result_1['plan_02']}" />
		</div>

	</div>



		<div class="add">
		<span>2016年8月计划安排</span>
		<div class="controls">
			<input class="text input-large" type="text" name="plan_03" value="{$result_1['plan_03']}" />
		</div>

	</div>

		<div class="add">
		<span>2016年9月计划安排</span>
		<div class="controls">
			<input class="text input-large" type="text" name="plan_04" value="{$result_1['plan_04']}" />
		</div>

	</div>

		<div class="add">
		<span>2016年10月计划安排</span>
		<div class="controls">
			<input class="text input-large" type="text" name="plan_05" value="{$result_1['plan_05']}" />
		</div>

	</div>

		<div class="add">
		<span>2016年11月计划安排</span>
		<div class="controls">
			<input class="text input-large" type="text" name="plan_06" value="{$result_1['plan_06']}" />
		</div>

	</div>

		<div class="add">
		<span>2016年12月计划安排</span>
		<div class="controls">
			<input class="text input-large" type="text" name="plan_07" value="{$result_1['plan_07']}" />
		</div>

	</div>

		<div class="add">
		<span>2016年年度资金需求</span>
		<div class="controls">
			<input class="text input-large" type="text" name="money_need" value="{$result_1['money_need']}" />
		</div>

	</div>
		<div class="add">
			<span>投资额</span>
			<div class="controls">
				<input class="text input-large" type="text" name="total_money" value="{$result_1['total_money']}" />
			</div>

		</div>

		<div class="add">
		<span>2017年计划安排</span>
		<div class="controls">
			<input class="text input-large" type="text" name="next_year_plan" value="{$result_1['next_year_plan']}" />
		</div>

	</div>

		<div class="add">
		<span>2017年资金需求</span>
		<div class="controls">
			<input class="text input-large" type="text" name="money_need_next" value="{$result_1['money_need_next']}" />
		</div>

		</div>
			<div class="form-item">
				<label class="item-label">项目情况：</label>
				<div class="controls condition">
					<label class="checkbox">
						<input type="checkbox" name="help" value="是"
						<if condition="$r1['help'] eq '是'"> checked

						</if> />是否需要协调
					</label>
					<label class="checkbox">
						<input type="checkbox" name="action" value="是" <if condition="$r1['action'] eq '是'"> checked

					</if>/>
						是否开工
					</label>
					<label class="checkbox">
						<input type="checkbox" name="shenpi" value="是" <if condition="$r1['shenpi'] eq '是'"> checked

					</if>/>
						是否通过审批
					</label>
				</div>
			</div>
<br>
			<div class="project_sort">
				<span>项目类别：</span>
				<div class="project_sort_item">
					<label class="checkbox"style="margin:3px 30px 0 0 !important;">
						<input type="checkbox" name="major" value="是"
						<if condition="$r1['major'] eq '是'"> checked</if>
						/>
						市重点项目
					</label>
					<label class="checkbox"style="margin:3px 30px 0 0 !important;">
						<input type="checkbox" name="major2" value="是"
						<if condition="$r1['major2'] eq '是'"> checked</if>
						/>
						市政务办现场会项目
					</label>
					<label class="checkbox"style="margin:3px 30px 0 0 !important;">
						<input type="checkbox" name="major3" value="是"
						<if condition="$r1['major3'] eq '是'"> checked</if>
						/>
						区重点项目
					</label>
					<label class="checkbox"style="margin:3px 30px 0 0 !important;">
						<input type="checkbox" name="major4" value="是"
						<if condition="$r1['major4'] eq '是'"> checked</if>
						/>
						区局联席会项目
					</label>
					<label class="checkbox"style="margin:3px 30px 0 0 !important;">
						<input type="checkbox" name="haimian" value="是"
						<if condition="$r1['haimian'] eq '是'"> checked</if>
						/>
						海绵城市建设
					</label>
				</div>
			</div>
		<input type="hidden" name="id" value="{$r1['id']}">
		<input type="submit" name="save" value="保存" class="bt btn btn-success baocun"/>
		<a href="{:U('Xiangmu/index')}" style="margin-top:-145px;color:#30a5ff"class="btn">取消</a>
	</form>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">

$(document).ready(function(){
	$(".bianji1").hide();
	$(".select").change(function () {

		var res=$(".select").val();
		if(res=="another"){
			$(".bianji1").show();

		}else{

			$(".bianji1").hide();
		}

	})


})

	</script>

</block>